:root{
    --division_width: 400px;
    --content-width: 1130px;
}

body {
    padding-left: 3em;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    color: #222222;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.label{
    font-size: small;
}

div.tooltip {
    position: absolute; 
    text-align: left;
    width: var(--division_width); 
    height: auto; 
    padding: 10px;
    float: left; 
    font-size: 16px;
    background: floralwhite;
    border: 0; 
    border-radius: 8px;
    pointer-events: none;
}

.subtitle text {
  font-size: 10px;
  text-decoration: underline;
  fill: gray;
}

path.line {
  fill: none;
  stroke: midnightblue;
  stroke-width: 3px;
}

.axis path, .axis line {
  fill: none;
  stroke: #595065;
  shape-rendering: geometricPrecision;
}

text.title {
  font-size: 10px;
  fill: Black;
}
.main_container {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 10px;
    width: var(--content-width);
    max-width: 2000px;
    box-sizing: border-box;
    height: auto;
    margin-top:5px; 
    margin-bottom: 10px; 
    margin-left:5px; 
    padding-top: 5px; 
    padding-bottom: 10px; 
    padding-left:5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0 0 0 1px, rgb(209, 213, 219) 0 0 0 1px inset;
}

.container_l {
    height: auto; 
    padding: 10px; 
    width: 700px;
    border: 0 solid black;
    font-size: large;
}
.container_r {
    height: 10%; 
    padding: 10px; 
    width: 400px;
    border: 0 solid black;
    font-size: large;
}

.container_tool {
    height: auto;
    padding: 10px;
    width: auto;
    margin-left: 0px; 
    margin-top: -100px;
    border: 0 solid black;
    font-size: large;
}

.title_div {
    margin-left:5px;
}

.dd_container {
    display: flex;;
    align-items: center;
    gap: 10px;
    height: auto; 
    width: var(--content-width);
    max-width: 2000px;
    box-sizing: border-box;
    margin-top:5px; 
    margin-bottom: 10px; 
    margin-left:5px; 
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0 0 0 1px, rgb(209, 213, 219) 0 0 0 1px inset;
    opacity: 100.0;
}

.svg_line_plot {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px; 
    width: var(--content-width);
    max-width: 2000px;
    box-sizing: border-box;
    margin-top:0px; 
    margin-bottom: 10px; 
    margin-left:5px; 
    padding-top: 0; 
    padding-bottom: 0; 
    padding-left:3%;
    box-shadow: rgba(0, 0, 0, 0.05) 0 0 0 1px, rgb(209, 213, 219) 0 0 0 1px inset;
    opacity: 1.0; font-size: large;
}

.selected {
  opacity: 1 !important;
  stroke: black;
  stroke-width: 1px;
  fill: red !important;
}
